/ start: Slider
.slider-wrapper
  #da-slider.da-slider
    .da-slide
      %h2 Get the right supplier
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      %a.da-link{:href => "#"} Read more
      .da-img
        %img{:alt => "image01", :src => "/assets/img/parallax-slider/twitter.png"}/
    .da-slide
      %h2 Grab your customers
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      %a.da-link{:href => "#"} Read more
      .da-img
        %img{:alt => "image02", :src => "/assets/img/parallax-slider/responsive.png"}/
    .da-slide
      %h2 Supplier Bidding
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      %a.da-link{:href => "#"} Read more
      .da-img
        %img{:alt => "image03", :src => "/assets/img/parallax-slider/html5.png"}/
    .da-slide
      %h2 Monitor it all
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      %a.da-link{:href => "#"} Read more
      .da-img
        %img{:alt => "image04", :src => "/assets/img/parallax-slider/css3.png"}/
    %nav.da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next
/ end: Slider
/ start: Wrapper
#wrapper
  / start: Container
  .container
    %hr
      / start: Hero Unit - Main hero unit for a primary marketing message or call to action
      .hero-unit
        %h3
          Smart is incredibly responsive, with a refreshingly clean responsive design and it has some awesome features, panorama sliders, 100+ icons, 50+ social icons, fancybox, isotope, google maps, facebook open graph and many, many more!
        %p
          %a.btn.btn-primary.btn-large Learn more »
      / end: Hero Unit
      %hr
        / start: Row
        .row
          / start: Icon Boxes
          .icons-box-vert-container
            / start: Icon Box Start
            .span4
              .icons-box-vert
                %i.ico-ok.ico-white.circle-color-full
                .icons-box-vert-info
                  %h3 Easy to use
                  %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                .clear
            / end: Icon Box
            / start: Icon Box Start
            .span4
              .icons-box-vert
                %i.ico-cup.ico-white.circle-color-full
                .icons-box-vert-info
                  %h3 Best choice
                  %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                .clear
            / end: Icon Box
            / start: Icon Box Start
            .span4
              .icons-box-vert
                %i.ico-ipad.ico-white.circle-color-full
                .icons-box-vert-info
                  %h3 Fully Responsive
                  %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                .clear
            / end: Icon Box
          / end: Icon Boxes
          .clear
        / end: Row
        %hr
          / start: Row
          .row
            .span9
              .title
                %h3 Featured Suppliers
              / start: Row
              .row
                .span3
                  .picture
                    %a{:href => "/assets/img/car.jpg", :rel => "image", :title => "mobile app"}
                      %img{:src => "/assets/img/car.jpg"}
                        .image-overlay-zoom
                  .item-description
                    %h4
                      %a{:href => "#"} Mobile App
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                .span3
                  .picture
                    %a{:href => "project.html"}
                      %img{:src => "/assets/img/web_app1.jpg"}
                        .image-overlay-link
                  .item-description
                    %h4
                      %a{:href => "#"} Mobile App
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                .span3
                  .picture
                    %a{:href => "/assets/img/mobile_app1.jpg", :rel => "image", :title => "mobile app"}
                      %img{:src => "/assets/img/mobile_app1.jpg"}
                        .image-overlay-zoom
                  .item-description
                    %h4
                      %a{:href => "#"} Mobile App
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              / end: Row
            .span3
              / start: Testimonials
              .testimonial-container
                .title
                  %h3 What Client’s Say
                .testimonials-carousel{"data-autorotate" => "3000"}
                  %ul.carousel
                    %li.testimonial
                      .testimonials Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      .testimonials-bg
                      .testimonials-author
                        Lucas Luck,
                        %span CEO
                    %li.testimonial
                      .testimonials Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      .testimonials-bg
                      .testimonials-author
                        Lucas Luck,
                        %span CTO
                    %li.testimonial
                      .testimonials Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      .testimonials-bg
                      .testimonials-author
                        Lucas Luck,
                        %span COO
                    %li.testimonial
                      .testimonials Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      .testimonials-bg
                      .testimonials-author
                        Lucas Luck,
                        %span CMO
              / end: Testimonials
          / end: Row
          %hr
            / start Clients List
            .clients-carousel
              %ul.slides.clients
                %li
                  %img{:alt => "", :src => "/assets/img/logos/1.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/2.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/3.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/4.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/5.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/6.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/7.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/8.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/9.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/10.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/1.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/2.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/3.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/4.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/5.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/6.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/7.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/8.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/9.png"}/
                %li
                  %img{:alt => "", :src => "/assets/img/logos/10.png"}/
            / end Clients List
            %hr
  / end: Container
/ end: Wrapper
