.hero-unit
  %h1.text-center Events Portal
  %p.text-center The portal site for any users or suppliers in events
  %p.text-center
    %a.btn.btn-primary.btn-large{:href => '/projects'}
      Get Started
