%a.visible-phone{:href => "#"}
  %i.icon.icon-home
  Dashboard
%ul
  %li.active
    %a{:href => "index.html"}
      %i.icon.icon-home
      %span Dashboard
  %li.submenu
    %a{:href => "#"}
      %i.icon.icon-th-list
      %span Form elements
      %span.label 3
    %ul
      %li
        %a{:href => "form-common.html"} Common elements
      %li
        %a{:href => "form-validation.html"} Validation
      %li
        %a{:href => "form-wizard.html"} Wizard
